@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #2095ae;
    --white-color: #fff;
    --light-gray-color: #ddd;
    --blue-color: ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    font-size: 13px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.heading-normal-text {
    font-size: 1rem;
    letter-spacing: 6px;
    color: var(--primary-color);
}

.headings {
    font-size: 3rem;
    font-family: "ubuntu";
    padding-bottom: 2rem;
    letter-spacing: 2px;
}

.headings span {
    color: var(--primary-color);
}

.secondary-heading {
    font-size: 2.5rem;
    font-family: "ubuntu";
    padding: 1rem 0;
}

.lead {
    font-size: 1.1rem;
    line-height: 2;
    text-align: justify;
}

.primary-btn {
    width: 50%;
    height: 35px;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;
}

/*Navbar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #0c2442;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 0px;
}

.navbar .logo a {
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s ease;
}

nav .navbar .links li a :hover {
    border-radius: 20px;
    box-shadow: 0 0 5px #33ffff,
        0 0 5px #66ffff;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 260px;
    line-height: 40px;
    background: #0c2442;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 0px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #0c2442;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {

    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #0c2442;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;

    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

/* NAvbar */
/* Carousel */
main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiper {
    height: 100vh;
}

.slide-container {
    width: 100%;
}

.slide-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 100%;
    font-family: "ubuntu";
    transform: translate(-50%, -50%);
}

.img-overlay p {
    font-size: 1rem;
    letter-spacing: 8px;
    color: var(--white-color);
    animation: animate 4s forwards;
}

.img-overlay h2 {
    font-size: 5rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px;
    animation: animate 4s forwards;
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: relative;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes animate {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.5;
    }

    70% {
        opacity: 1;
        transform: translateX(-0%);
    }
}

.img-overlay h2 span {
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);
}

/* Carousel */
/* Responsive */
@media(max-width: 1024px) {
    .container {
        padding: 0 1rem;
    }

    .swiper {
        height: 90vh;
    }

    .img-overlay p {
        letter-spacing: 6px;
    }

    .img-overlay h2 {
        font-size: 3rem;
        letter-spacing: 3px;
    }
}

@media(max-width: 900px) {
    .swiper {
        height: 70vh;
    }

    .img-overlay p {
        letter-spacing: 4px;
    }

    .img-overlay h2 {
        font-size: 2.5rem;
        letter-spacing: 8px;
    }

    #location-search {
        transform: translateY(0%);
        margin: 2rem 0;
    }

    form {
        flex-direction: column;
        gap: 1rem;
    }
}

/* Responsive */
/* about*/
.about-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    margin: 3rem 0;
}

.about-content-wrapper h2 span {
    color: var(--primary-color);
    font-family: "ubuntu";
}

.about-content-wrapper ul {
    list-style: none;
}

.about-content-wrapper ul .icons {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.about-content-wrapper ul .icons i {
    background: var(--primary-color);
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--white-color);
}

.about-content-wrapper ul p {
    margin-left: 1rem;
}

.agency-right-side .img {
    position: relative;
}

.agency-right-side .img img {
    width: 75%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    transition: 0.5s ease-in;
}

.agency-right-side .img::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 55px;
    bottom: 0;
    right: 0;
    background: var(--primary-color);
    width: 70%;
    height: 100%;
    z-index: -2;
}

.agency-right-side .img img:hover {
    transform: scale(0.95);
}

/* about*/
/* responsive*/
@media(max-width: 900px) {
    .about-content-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .agency-right-side .img img {
        width: 85%;
    }

    .agency-right-side .img::after {
        top: 15px;
        left: 15px;
        bottom: 0;
        right: 0;
        width: 90%;
    }
}

/* responsive*/
/* choose*/
#choose-place {
    padding: 6rem 0;
}

.choose-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}

.lg-img {
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    height: 95%;
}

.lg-img:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.lg-img:hover {
    transform: scale(1.02);
}

.img-content {
    position: absolute;
    bottom: 20px;
}

.img-content h2 {
    padding: 0 2rem;
    color: var(--white-color);
}

.hidden-content {
    padding: 0.7rem 1rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out;
}

.hidden-content i {
    padding: 0.2rem 0.2rem 0 0;
}

.lg-img:hover .hidden-content {
    transform: translateY(0%);
}

.price-label {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.4rem 1rem;
    position: absolute;
    font-size: 12px;
    top: 50px;
    right: 0;
    transform: rotate(-90deg);
}

.row-wise-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

/* choose*/
/* counter*/
#static-counter {
    padding: 6rem 0;
    background: url("./image/counter.jpeg") no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    z-index: 4;
}

#static-counter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.static-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
}

.static-icons {
    color: var(--white-color);
    cursor: pointer;
}

.static-icons i {
    font-size: 3rem;
    padding: 3rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.static-icons i:hover {
    background: var(--primary-color);
    border: none;
    transform: translateY(-20%);
}

.numbers {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

/* counter*/
/* top destination*/
#top-destination {
    padding: 6rem 0;
}

.top-destination-wrapper {
    width: 100%;
}

.carousel {
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.carousel:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.carousel-img-overlays {
    width: 100%;
}

.hidden-content-carousel {
    padding: 0.5rem 2rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.5s ease-in-out;
}

.carousel-img-overlays i {
    padding-right: 1rem;
}

.carousel:hover .hidden-content-carousel {
    transform: translateY(0%);
}

.carousel:hover {
    transform: scale(1.1);
}

/* top destination*/
/*Responsive*/
@media(max-width: 900px) {
    .choose-wrapper {
        grid-template-columns: 1fr;
    }

    .row-wise-img {
        grid-template-columns: 1fr;

    }

    .img-content {
        bottom: 10px;
    }

    /*Counter*/
    .static-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*Responsive*/
/*Footer*/
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #0c2442;
    color: #fff;
    padding: 100px 0px 30px;
    border-top-left-radius: 125px;
    font-size: 12px;
    line-height: 20px;
}

#rw {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#cl {
    flex-basis: 23%;
    padding: 10px;
}

#cl:nth-child(2),
.cl:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#cl h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

#for {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#for #far {
    font-size: 18px;
    margin-right: 10px;
}

#for input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

#for button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#for #farr {
    font-size: 16px;
    color: #ccc;
}

.social-icons #fa {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    #cl {
        flex-basis: 100%;
    }

    #cl:nth-child(2),
    .cl:nth-child(3) {
        flex-basis: 100%;
    }
}

/*Footer*/